body{
  background-color: #540804;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
header {
  width:75vw;
  margin: 25px auto;
  border-color: #000000;
  border-style: dashed;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
  background-color: #81171B;
  border-style: groove;
}
.col {
  width: 50%;
  float: left;
  }
h1 {
  color: #000000;
  font-size: 47px;
}
h2 {
  color: #8793A0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #8E9CAA;
  text-decoration: none;
}
li {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  letter-spacing: 1px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 900px) {
  .col{
    width: 100%;
    margin-bottom: 50px;
  }
  header{
    width: 90vw;
  }
  main{
    width: 90vw;
  }
  h1{
    font-size: 3rem;
  }
}