body {
  background-color: #111222;
  margin-right: 300px;
  margin-left: 300px;
  margin-top: 150px;
  font-size: 35px;
  font-family: lores-12, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
  width: fit-content;
}
.border{
  border-style: dashed;
  border-color: #0f77ff;
  border-radius: 45px;
}
h1 {
  color:#0f77ff;
  letter-spacing: 5px;
  text-shadow: 3px 3px 3px white;
  margin: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
}
h2{
  margin: 15px;
  font-size: 25px;
  color:#0f77ff;
  text-shadow: 1px 1px 1px white;
}
a {
  margin: 15px;
  text-decoration: none;
  color: #0f77ff;
  text-shadow: 1px 1px 1px white;
  font-size: 20px;
  letter-spacing: 2px;
}
a:hover {
  transition: color .5s ease;
  color: gold;
  letter-spacing: 5px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
}
header {
  width:50vw;
  height: auto;
  margin: 50px auto 36px;
}
main {
  width: 60vw;
  height: auto;
  margin: 35px auto;
  display: flow-root;
}
.col{
  width: 50%;
  height: auto;
  float: left;
}
ul {
  list-style: none;
}
ul li::before {
  content: "+";
  color: gold;
  text-shadow: 1px 1px 1px black;
  margin: auto 5px;
}
li{
  color: #0f77ff;
  text-shadow: 1px 1px 1px white;
}

span {
  position: absolute;
  border-radius: 100vmax;
}
.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49)
  );
}
.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgb(57, 255, 20),
    rgba(57, 255, 20, 0.5),
    transparent 50%
  );
}
.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    transparent 30%,
    rgba(0, 255, 255, 0.5),
    rgb(0, 255, 255)
  );
}
.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 113),
    rgba(255, 255, 113, 0.5),
    transparent 70%
  );
}
.top {
  animation: animateTop 3s ease-in-out infinite;
}
.bottom {
  animation: animateBottom 3s ease-in-out infinite;
}
.right {
  animation: animateRight 3s ease-in-out infinite;
}
.left {
  animation: animateLeft 3s ease-in-out infinite;
}
@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}
@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }
  75% {
    opacity: 1;
    width: 100%;
  }
  76%,
  100% {
    opacity: 0;
  }
}
@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
    height: 100%;
  }
  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}
@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
