body{
    background-color: #111222;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 150px;
    font-family: Cinzel, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
    width: fit-content;
}
.border{
    border-style: dashed;
    border-color: #0f77ff;
    border-radius: 45px;
}
h1 {
  color:#0f77ff;
  letter-spacing: 5px;
  text-shadow: 3px 3px 3px white;
  margin: 15px;
  font-weight: 700;
  font-size: 3em;
  line-height: 42px;
  text-align: center;
}
h3, h4{
  margin: 15px;
  font-size: 1.5em;
  color:#0f77ff;
  text-shadow: 1px 1px 1px white;
}
h4{
    font-size: 1em;
    text-shadow: none;
}
h5{
    font-size: 1em;
    font-weight: bold;
    margin: 15px;
    color: #9ea1cf;
}
p{
    margin: 25px;
    color: gold;
    text-shadow: 1px 1px 1px black;
}
a{
  margin-left: 25px;
  text-decoration: none;
  color: #0f77ff;
  text-shadow: 1px 1px 1px white;
  font-size: 1.5em;
  letter-spacing: 2px;
}
a:hover {
  transition: color .5s ease;
  color: gold;
  letter-spacing: 5px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
}
